# This is configuration file for pm_doc build and release stack.
# It should be put at the top of the documentation tree and will
# take effects for all the builds under the directory it resides in.
# All paths in this file should be relative to the directory this
# file resides in.
# Syntax is python.
 
# Send notifications to subscribed users on document changes during git push
#  (default: True)
# notify on any mmd update
# looks at author of mmd file, and people in the commit history of that file
# 5/6/2021: needs the working branch to be named master; n/a for NPC
notify_on_push = False

# Populate a git "post-merge" hook in the doc repo that will pull tools repo. This
# has an effect of users having up-to-date build tools, since post-merge hook is
# executed on every non-empty pull operation (unless it is pull --rebase)
#  (default: True)
pull_tools_on_merge = True

# Prevent accidental manual release for repos where central build and release is enabled
#  (default: False)
central_build_release = False

# Specify whether search box will appear on index page.
# (default: True)
# controls the search box on the document landing page (index.html)
enable_index_page_search = True

# data classification can be specified in the following ways
# which are ordered by precendence: mmd header, build target, global flag (below)
#   (default: ITS) (values: ITS, IC, Public)
# https://docs.intel.com/documents/ProMark/Documentation/UserGuide.html#document-classification
classification = "IC"

# Specify list of build targets in the form:
#  {'src': "source_dir", 'dst': "destination_dir", 'title': "Index html page title"}
#  {'src': "source_dir", 'dst': "destination_dir", 'title': "Index html page title", 'classification': 'its'}
#
# Before the build, files from source_dir will be recursively copied to
# destination_dir. The build will then happen in destination_dir, unless
# (optional) 'copy_only' argument is provided and set to True.
# https://docs.intel.com/documents/ProMark/Documentation/RepoOwnerGuide.html#defining-build-targets
build_targets = [
    {'src': 'dv_content/', 'dst': 'distrib/dv_content', 'title': 'Integration Guide Template'},
]
# to get Started execute build from "src/Example Repo Structure"
#{'src': 'dv_content/mas/mmio/top', 'dst': 'distrib/mas/NPC_2_0_SGLM_MAS_out', 'title': 'SGLM 2.0 MAS'}, 
    


# 'repo_name' should uniquely identify single repository.
# It will be embedded into generated HTML documentation for the comments,
# subscriptions, and similar features to uniquely identify documents.
# 'repo_name' doesn't have to match git repo name, but in case git repo has
# only one build.cfg it's probably a good idea to make it so
# https://docs.intel.com/documents/ProMark/Documentation/RepoOwnerGuide.html#moving-and-renaming-documents
# https://docs.intel.com/documents/ProMark/Documentation/UserGuide.html#manage-subscriptions
repo_name = "npc_2.2"


# Specify list of targets for documentation publishing, in the form:
#     {'src': "source_dir", 'dst': "destination_dir"},
#
# Release script will copy contents of each src to destination_dir.
# Note that publishing src corresponds to build's dst
#
# IMPORTANT: when specifying new release areas, point to an existing **empty**
# sharepoint folder. Release script with --clean option will delete all the
# files in the destination folder that are not part of the build. By the same 
# reason, releae areas should never intersect (point to same folder, or point
# anywhere below another release area).
# https://docs.intel.com/documents/ProMark/Documentation/RepoOwnerGuide.html#defining-publish-targets
publish_targets = [
    {'src': 'distrib/dv_content', 'dst': r'NSG_Optane\IP\NPC\NPC_2.2.0_DV',   'dst_type' : 'ddp'},

# 	Should never need to publish the individual MASs on their own. We typically only want to publish the full set at specific intervals when we resync with the IPAS
#    {'src': r'distrib/dv_content/NPC_2.2_SGLM_MAS_out', 'dst': r'NSG_Optane\IP\NPC\NPC2.2\SGLM',   'dst_type' : 'ddp'},
]

# List of defined release tags that will appear on the index.html page
# Add these when relevant
# release_tags = ['0.3.0', '0.5.0', '0.5.1', '0.7.0', '1.0.0']
release_tags = ['0.3', '0.3.1', '0.5']
